/* common style */
body {
    width: 100%;
    background: #000;
}

#wrapper {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

li {
    display: inline-block;
}

/* header */
#header {
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    padding: 25px;
    margin: 0 auto;
    background: #000;  
}

#logo {
    height: 50px;
    width: 290px;
}

#main-nav li a:link {
    padding-left: 5px;
    font: 18px normal "Tahoma";
    color: #fff;
    text-decoration: none;
}

#main-nav li a:visited {
    color: #fff;
    text-decoration: none;
}

/* main */
#main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 1000px;
    padding: 0 15px 25px;
    margin: 0 auto;
    margin-top: 100px;
    background: #fff;
}

.main-block-inf {
    width: 100%;
}

#main_inf,
#contacts {
    width: 49%;
}

.title-block {
    padding: 5px 25px;
    border-radius: 10px;
    margin: 25px 0;
    background: #2d524e;
    font: 20px normal Tahoma;
    color: #fff;
}

#fio {
    padding-left: 20px;
    margin-bottom: 20px;
    font: 30px bold Tahoma;
}

#wrapper-inf {
    display: flex;
    justify-content: space-around;
}

#main-foto {
    height: 200px;
    width: auto;
}

.main-inf {
    width: 45%;
}

.main-inf li { 
    width: 50%;
    padding: 5px 0;
}

.name-inf {
    font-weight: bold;
}

#contacts li,
#skills li {
    width: 100%;
    padding: 10px;
}

#experience ul,
#education ul {
    display: flex;
    justify-content: space-between;
}

#experience li,
#education li {
    width: 42%;
    text-align: center;
}

#experience li a:link,
#education li a:link {
    color: #000;
    text-decoration: none;
}

#experience li a:visited,
#education li a:visited {
    color: #000;
    text-decoration: none;
}

#experience li:first-child,
#education li:first-child {
    width: 16%;
}

.project {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0 15px;
    margin-bottom: 15px;
}

.project>li {
    width: 100%;
    padding: 10px 0;
}

.name-project {
    width: 100%;
    margin-bottom: 5px;
    font-size: 25px;
    font-weight: bold;
    color: #2d524e;
}

.screenshots,
.rule {
    
}

.project-title {
    margin-bottom: 15px;
}

.screenshots li {
    display: inline-block;
    width: 23%;
    height: 100px;
    padding: 2px;
    cursor: pointer;
}

.screenshots li:hover {
    border: solid 1px black;
}

.screenshots img {
    width: 100%;
    height: 100%;
    background-size: cover;
}

.title-other {
    padding: 5px;
    font-size: 22px;
}

.content-other {
    padding: 15px;
}

.content-other li {
    width: 100%;
    padding: 5px;
}

.name-lan {
    font-weight: bold;
}

/* footer */
#footer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 25px;
    background: #000;
}
#copyright {
    color: #fff;
}

/* js */
#parent-block {
    position: fixed;
    left: 10%;
    top: 5%;
    bottom: 5%;
    height: 85vh;
    width: 80%;
    z-index: 2;
    padding: 5px;
    background: rgba(255,255,255, 0.5);
    border: solid 1px black;
}

.icon-close {
    display: inline-block;
    float: right;
    height: 7px;
    width: 7px;
    padding: 7px;
    background-image: url(../img/icon_close.png);
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

.container-img {
    height: 100%;
    width: 100%;
    border: solid 1px grey;
    background-size: cover;
}

body.dis:before {
    position: fixed;
    top: 0;
    left: 0;
    content: '';
    height: 100%;
    width: 100%;
    background: black;
    opacity: 0.5;
    z-index: 1;
}